/*公用*/
.comWidth{
	width: 1200px;
	margin: 0 auto;
}
/*信息提示栏*/
.header{
	height: 125px;
}
.info{
	height: 36px;
	background-color: #f3f3f3;
	font-size: 12px;
	line-height: 36px;
}
.info_left a{
	color: #21a557;
}

/*topBar栏*/
.topBar{
	height: 89px;
	background-color: #fff;
}
.top_product .edu{
	font-family: Gill Sans MT;
	font-size: 28px;
	color: #39a030;
	font-weight: bold;
	width: 70px;
	display: inline-block;
	margin-top: 47px;
	margin-right: 6px;
}
.top_product .border{
	margin-top: 53px;
	height: 19px;
	border: 1px solid #39a030;
}
.top_product .pro{
	font-size: 22px;
	display: inline-block;
	margin-top: 47px;
	margin-left: 13px;
}
.top_follow button{
	width: 54px;
	height: 21px;
	background: url(../images/follow_btn.png) no-repeat left center;
	margin-top: 53px;
	margin-left: 31px;
}
.top_follow span{
	float: right;
	height: 89px;
	margin-top: 55px;
	margin-left: 14px;
	font-size: 12px;
}


.top_right{
	height: 89px;
	font-size: 16px;
}
.top_right a{
	display: inline-block;
	margin: 55px 0 0 55px;
}
.top_right a:hover{
	color: #39a030;
}
.top_right img{
	margin: 20px 14px 0 29px;
}


/*introduce栏*/
.introduce{
	height: 297px;
	margin-top: 61px;
}

.introduce div{
	float: left;
	width: 320px;
}
.introduce .book{
	margin-left: 100px;
	margin-right: 100px;
}
.introduce h3{
	font-size: 22px;
	text-indent: 100px;
	margin-bottom: 20px;
}
.introduce img{
	float: left;
	margin-right: 20px;
	margin-top: -35px;
	display: inline-block;
}
.introduce a{
	display: inline-block;
	color: #39a030;
	font-size: 14px;
	margin-left: 100px;
	margin-top: 36px;
}
.introduce a:hover{
	text-decoration: underline;
}
.introduce p{
	color: #666666;
	font-size: 14px;
	line-height: 24px;
	display: inline-block;
	margin-left: 100px;
	margin-top: -55px;
}

/*picshow栏*/
.picshow{
	height: 220px;
	width: 100%;
	margin-top: -20px;
}
.picfall li{
	float: left;
	display: inline-block;
	width: 20%;
	height: 220px;
}

/*course栏*/
.course{
	margin-top: 80px;
	height: 1470px;
}
.double-button{
	font-size: 0;
}
.course-pay{
	width: 957px;
}
.course-pay button{
	font-size: 20px;
	width: 200px;
	height: 50px;
}
.product-design{
	margin-left: 15px;
}
.toGreen{/*按钮颜色变绿*/
	background-color: #39a030;
	color: #fff;
}
.organization{
	width: 220px;
	height: 240px;
	border: 1px solid #dddddd; 
}
.course h3{
	display: block;
	height: 57px;
	font-size: 16px;
	color: #333333;
	line-height: 57px;
	text-indent: 23px;
	border-bottom: 1px solid #dddddd;
}
.organization .introduce-video{
	height: 174px;
	width: 223px;
	font-size: 14px;
	color: #666666;
	padding: 23px;
}
.introduce-video span{
	display: inline-block;
	margin-bottom: 10px;
}



/*vedioshow浮层
.videoshow{
	position: fixed;
	display: none;
}*/

/*course-list*/
.course-list{
	width: 957px;
	margin-top: 10px;
	height: 1224px;
}

.course-list-div{
	width: 222px;
	height: 227px;
	border: 1px solid #f1f1f1;
	font-family: '微软雅黑';
	padding-bottom: 10px;
	float: left;
	margin-left: 15px;
	margin-top: 20px;/*111111111111111111111111*/
}
.course-list-div:hover{
	box-shadow: 3px 3px 3px #ccc;
	cursor: pointer;
}
.course-list-div:hover span:first-of-type{
	color: #39a030;
}
.course-list-img{
	width: 222px;
	height: 124px;
}
.course-list-div span{
	margin-left: 5px;
}
.course-list-name{
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
	margin-top: 3px;
	display: block;
	width: 210px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.course-list-provider{
	font-size: 12px;
	color: #999999;
	margin-bottom: 10px;
	display: block;
}
.course-list-learnerCount{
	font-size: 8px;
	color: #999999;
	margin-bottom: 10px;
	height: 16px;
	padding-right: 5px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	text-indent: 18px;
	background: url(../images/person.png) no-repeat 3px center;
	display: inline-block;
}
.course-list-price{
	font-size: 12px;
	color: #ff3f00;
	margin-bottom: 10px;
	font-weight: bold;	
	display: block;
}


.course-list-father{
	
}
.course-list-hover{
	padding: 13px 13px 0;
	width: 484px;
	border: 1px solid #ccc;
	position: absolute;
	top: -13px;
	left: -13px;
	display: none;
	z-index: 1000;
	background-color: #fff;
}
.iframe-pic{
	float: left;
}
.iframe-text{
	float: left;
	margin-left: 18px;
}
.iframe-learnerCount{
	display: inline-block;
	margin-bottom: 13px;
	color: #666666;
	font-size: 12px;
	text-indent: 19px;
	background: url(../images/person.png) no-repeat 3px;
}
.iframe-provider{
	display: block;
	color: #666666;
	font-size: 12px;
	text-indent: 3px;
}
.iframe-h1{	
	font-size: 18px;
	color: #333;
	margin-bottom: 17px;
}
.iframe-description{
	float: left;
	display: block;
	width: 470px;
	background-color: #f8f8f8;
	margin-top: 15px;
	margin-left: -13px;
	font-size: 14px;
	color: #666666;
	padding: 20px;
	line-height: 24px;
}


.course-page{
	margin-top: 110px;

}
.course-page img{
	float: right;
}
.course-page li{
	display: inline-block;
	margin-left: 8px;
	width: 20px;
	height: 20px;
	color: #666666;
	font-size: 14px;
	float: right;
	text-align: center;	
}
.course-page li:hover{
	background-color: #39a030;
	cursor: pointer;
}
.course-page .li-checked{
	color: #39a030;
}
.course-page-back{
	margin-right: 5px;
	cursor: pointer;
}
.course-page-front{
	margin-left: 10px;
	cursor: pointer;
}
/*hot-course*/
.hot-show{
	border: 1px solid #dddddd;
	margin-top: 21px;
}
.hot-show-list{
	height: 700px;
	padding: 20px;
	overflow: hidden;
	position: relative;
}
.hot-course-div{
	height: 50px;
	width: 184px;
	margin-bottom: 22px;
}
.hot-course-img{
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 12px;
}
.hot-course-name{
	display: block;
	font-size: 14px;
	width: 120px;
	margin-bottom: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hot-course-name:hover{
	color: #39a030;
	cursor: pointer;
}
.hot-course-learnerCount{
	display: inline-block;
	width: 20px;
	font-size: 12px;
	color: #bbbbbb;	
	background: url(../images/person.png) no-repeat left center;
	text-indent: 18px;
	text-align: center;
}
.hot-course-move{
	position: absolute;
}

/*footer*/
.footer{
	height: 182px;
	width: 100%;
	background-color: #2c3339;
	padding-top: 80px;
	padding-left: 55px;
}
.footer-rights{
	margin-right: 250px;
}
.footer_product{
	margin-bottom: 25px;
}
.footer .edu{
	font-family: Gill Sans MT;
	font-size: 28px;
	color: #39a030;
	font-weight: bold;
	width: 70px;
	display: inline-block;
}
.footer .border{
	height: 19px;
	border: 1px solid #39a030;
	margin: 6px 11px 0 2px;
}
.footer .pro{
	font-size: 22px;
	display: inline-block;
	color: #39a030;
}
.foot-rignts-number span{
	display: block;
	color: #a2a4a5;
	margin-top: 5px;
	font-size: 13px;
}
.footer-links .footer-links-type li{
	font-size: 13px;
}
.footer-links ol li ol li{
	float: left;
	display: inline-block;
	color: #a2a4a5;
	font-size: 15px;
	margin-bottom: 10px;
	width: 115px;
}
.footer-links ol li:first-of-type{
	margin-right: 80px;
}
.footer-links ol li:nth-child(2){
	margin-right: 40px;
}
.footer-links ol li:nth-child(2) ol li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footer-links ol li:nth-child(3) ol li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footer-links ol li:nth-child(4) ol li:hover{
	text-decoration: underline;
	cursor: pointer;
}
.footer-weibo{
	padding-left: 10px;
}




/*遮罩层*/
.iframe{
		/*display: none;
		width: 100%;
		height: 100%;*/
		background-color: #000;
		opacity: 0.7;
		filter: alpha(opacity:70);
		color: #000;
		font-size: 16px;
		display: none;
		z-index: 1002;
		position: absolute;
		top: 0;
		left: 0;
	}
	.login{
		width: 400px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 150px;
		border: 1px solid #fff;
		background-color: #fff;
		opacity: 1;
		filter: alpha(opacity:100);
		position: fixed;
		left: 0;
		right: 0;
	}
	.iframe span{
		display: block;
	}
	.close{
		float: right;
		margin-right: 10px;
		cursor: pointer;
	}
	.message{
		padding-top: 50px;
		padding-left: 20px;	
	}
	.go{
		width: 80px;
		height: 30px;
		margin-left: 280px;
		margin-top: 40px;
		background-color: #21a557;
		font-size: 16px;
		text-align: center;
		letter-spacing: 8px;
		text-indent: 8px;
	}
	.input{
		margin-left: 100px;
		margin-top: 30px;


	}
	.input input{
		margin-bottom: 20px;
		width: 150px;
		padding-left: 5px;
		border: 1px solid #ccc;
		height: 20px;
	}